.status-OPEN, .status-ON > * {
    fill: #00FF00 !important;
}

.status-CLOSED, .status-OFF > * {
    fill: #FF0000 !important;
}

.select {
    fill-opacity: 0.2;
}

.waypoint {
    fill: rgb(240,240,0) !important;
}

#hero {
    fill: rgb(0,255,0);
    stroke: black;
    stroke-width: 2px;
}
