<head>
  <link rel="stylesheet" href="static/css/view.css" />
  <link rel="stylesheet" href="static/css/hud.css" />
  <link rel="stylesheet" href="static/css/status.css" />
</head>

<div id="map">

  <div id="view">
    <!-- Container for the svg view -->
  </div>

  <div id="thumbnail-container">
    <div id="thumbnail"></div>
  </div>

</div>

<div id="hud">
  Hello
</div>


<script type="text/javascript" src="static/js/libs/d3.min.js"></script>
<script type="text/javascript" src="static/js/libs/underscore.js"></script>
<script type="text/javascript" src="static/js/libs/json-patch-duplex.js"></script>

<script type="text/javascript" src="static/js/vector.js"></script>
<script type="text/javascript" src="static/js/icons.js"></script>
<script type="text/javascript" src="static/js/world.js"></script>
<script type="text/javascript" src="static/js/interact.js"></script>
<script type="text/javascript" src="static/js/view.js"></script>
