<head>
  <link rel="stylesheet" href="static/css/view.css" />
  <link rel="stylesheet" href="static/css/hud.css" />
  <link rel="stylesheet" href="static/css/status.css" />
</head>

<div id="map">

  <div id="game-id" style="display:none;">{{game_id}}</div>

  <div id="view">
    <!-- Container for the svg view -->
  </div>

  <div id="thumbnail-container">
    <div id="thumbnail">
      <!-- Container for the thumbnail view -->
    </div>
  </div>

</div>

<div id="hud">
  <!-- HUD goes here! -->
</div>


<script src="static/js/libs/d3.min.js"></script>
<script src="static/js/libs/underscore.js"></script>
<script src="static/js/libs/json-patch-duplex.js"></script>

<script src="static/js/util.js"></script>
<script src="static/js/vector.js"></script>
<script src="static/js/icons.js"></script>
<script src="static/js/world.js"></script>

<script src="static/js/view.js"></script>
